<template>
  <aside class="wow-item">
    <header class="wow-buff">
      <p class="header__title">{{ buffJson.name }}</p>

      <p v-if="buffJson.rank > 0" class="header__rank">(Rank {{ buffJson.rank }})</p>
    </header>

    <section class="wow-buff">
      <div>
        <p class="buff__text">{{ buffJson.tooltip }}</p>

        <p class="buff__modifier" v-for="modifier in buffJson.modifiers" :key="modifier">{{ modifier }}</p>
      </div>
    </section>
  </aside>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'
import { BuffJSON } from '../wow/class/Buffs'

const Props = Vue.extend({
  props: {
    buffJson: BuffJSON
  }
})

@Component
export default class BuffTooltip extends Props {
  wow = wow
}
</script>
