<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        World Buffs
        <div
          class="field"
          @mouseenter="mouseEnter('RallyingCryOfTheDragonSlayer')"
          @mousemove="mouseMove"
          @mouseleave="mouseLeave"
        >
          <b-checkbox
            class="is-size-7-mobile"
            native-value="RallyingCryOfTheDragonSlayer"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Rallying Cry of the Dragon Slayer
          </b-checkbox>
        </div>

        <div
          class="field"
          @mouseenter="mouseEnter('WarchiefsBlessing')"
          @mousemove="mouseMove"
          @mouseleave="mouseLeave"
        >
          <b-checkbox
            class="is-size-7-mobile"
            native-value="WarchiefsBlessing"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Warchief's Blessing</b-checkbox
          >
        </div>
        <div class="field" @mouseenter="mouseEnter('FengusFerocity')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="FengusFerocity"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Fengus' Ferocity</b-checkbox
          >
        </div>
        <div class="field" @mouseenter="mouseEnter('MoldarMoxie')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="MoldarMoxie"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Mol'dar's' Moxie</b-checkbox
          >
        </div>
        <div class="field">
          <div
            class="field"
            @mouseenter="mouseEnter('SongflowerSerenade')"
            @mousemove="mouseMove"
            @mouseleave="mouseLeave"
          >
            <b-checkbox
              class="is-size-7-mobile"
              native-value="SongflowerSerenade"
              v-bind:value="options.character.buffs"
              v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
              >Songflower Serenade</b-checkbox
            >
          </div>
          <div
            class="field"
            @mouseenter="mouseEnter('SpiritOfZandalar')"
            @mousemove="mouseMove"
            @mouseleave="mouseLeave"
          >
            <b-checkbox
              class="is-size-7-mobile"
              native-value="SpiritOfZandalar"
              v-bind:value="options.character.buffs"
              v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
              >Spirit of Zandalar</b-checkbox
            >
          </div>
          <div
            class="field"
            @mouseenter="mouseEnter('SaygesDarkFortuneOfDamage')"
            @mousemove="mouseMove"
            @mouseleave="mouseLeave"
          >
            <b-checkbox
              class="is-size-7-mobile"
              native-value="SaygesDarkFortuneOfDamage"
              v-bind:value="options.character.buffs"
              v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
              >Sayges Dark Fortune of Damage</b-checkbox
            >
          </div>
          Consumables
          <div class="field" @mouseenter="mouseEnter('FlaskOfTitans')" @mousemove="mouseMove" @mouseleave="mouseLeave">
            <b-checkbox
              class="is-size-7-mobile"
              native-value="FlaskOfTitans"
              v-bind:value="options.character.buffs"
              v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
              >Flask of Titans</b-checkbox
            >
          </div>
          <div class="field" @mouseenter="mouseEnter('JujuPower')" @mousemove="mouseMove" @mouseleave="mouseLeave">
            <b-checkbox
              class="is-size-7-mobile"
              native-value="JujuPower"
              v-bind:value="options.character.buffs"
              v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
              >Juju Power</b-checkbox
            >
          </div>
          <div
            class="field"
            @mouseenter="mouseEnter('RumseyRumBlackLabel')"
            @mousemove="mouseMove"
            @mouseleave="mouseLeave"
          >
            <b-checkbox
              class="is-size-7-mobile"
              native-value="RumseyRumBlackLabel"
              v-bind:value="options.character.buffs"
              v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
              >Rumsey Rum Black Label</b-checkbox
            >
          </div>
          <div
            class="field"
            @mouseenter="mouseEnter('TenderWolfSteak')"
            @mousemove="mouseMove"
            @mouseleave="mouseLeave"
          >
            <b-checkbox
              class="is-size-7-mobile"
              native-value="TenderWolfSteak"
              v-bind:value="options.character.buffs"
              v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
              >Tender Wolf Steak</b-checkbox
            >
          </div>
          <div class="field" @mouseenter="mouseEnter('ElixirOfGiants')" @mousemove="mouseMove" @mouseleave="mouseLeave">
            <b-checkbox
              class="is-size-7-mobile"
              native-value="ElixirOfGiants"
              v-bind:value="options.character.buffs"
              v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
              >Elixir of Giants</b-checkbox
            >
          </div>
          <div class="field" @mouseenter="mouseEnter('DarkDesire')" @mousemove="mouseMove" @mouseleave="mouseLeave">
            <b-checkbox
              class="is-size-7-mobile"
              native-value="DarkDesire"
              v-bind:value="options.character.buffs"
              v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
              >Dark Desire</b-checkbox
            >
          </div>
        </div>
      </div>

      <div class="column">
        Consumables
        <div class="field" @mouseenter="mouseEnter('MongooseElixir')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="MongooseElixir"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Elixir of the Mongoose</b-checkbox
          >
        </div>

        <div class="field" @mouseenter="mouseEnter('JujuMight')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="JujuMight"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Juju Might</b-checkbox
          >
        </div>

        <div
          class="field"
          @mouseenter="mouseEnter('WinterfallFirewater')"
          @mousemove="mouseMove"
          @mouseleave="mouseLeave"
        >
          <b-checkbox
            class="is-size-7-mobile"
            native-value="WinterfallFirewater"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Winterfall Firewater</b-checkbox
          >
        </div>
        <div class="field" @mouseenter="mouseEnter('DesertDumplings')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="DesertDumplings"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Smoked Desert Dumplings</b-checkbox
          >
        </div>
        <div class="field" @mouseenter="mouseEnter('ROIDS')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="ROIDS"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >R.O.I.D.S</b-checkbox
          >
        </div>
        <div
          class="field"
          @mouseenter="mouseEnter('GroundScorpokAssay')"
          @mousemove="mouseMove"
          @mouseleave="mouseLeave"
        >
          <b-checkbox
            class="is-size-7-mobile"
            native-value="GroundScorpokAssay"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Ground Scorpok Assay</b-checkbox
          >
        </div>
        <div
          class="field"
          @mouseenter="mouseEnter('LungJuiceCocktail')"
          @mousemove="mouseMove"
          @mouseleave="mouseLeave"
        >
          <b-checkbox
            class="is-size-7-mobile"
            native-value="LungJuiceCocktail"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Lung Juice Cocktail</b-checkbox
          >
        </div>
        <div class="field" @mouseenter="mouseEnter('SpiritOfZanza')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="SpiritOfZanza"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Spirit of Zanza</b-checkbox
          >
        </div>
        <div
          class="field"
          @mouseenter="mouseEnter('ElixirOfSuperiorDefense')"
          @mousemove="mouseMove"
          @mouseleave="mouseLeave"
        >
          <b-checkbox
            class="is-size-7-mobile"
            native-value="ElixirOfSuperiorDefense"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Elixir of Superior Defense</b-checkbox
          >
        </div>
        <div
          class="field"
          @mouseenter="mouseEnter('ElixirOfFortitude')"
          @mousemove="mouseMove"
          @mouseleave="mouseLeave"
        >
          <b-checkbox
            class="is-size-7-mobile"
            native-value="ElixirOfFortitude"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Elixir of Fortitude</b-checkbox
          >
        </div>
        <div class="field" @mouseenter="mouseEnter('ChimaerokChops')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="ChimaerokChops"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Chimaerok Chops</b-checkbox
          >
        </div>
        <div
          class="field"
          @mouseenter="mouseEnter('GreaterStoneshieldPotion')"
          @mousemove="mouseMove"
          @mouseleave="mouseLeave"
        >
          <b-checkbox
            class="is-size-7-mobile"
            native-value="GreaterStoneshieldPotion"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Greater Stoneshield Potion</b-checkbox
          >
        </div>
        <div
          class="field"
          @mouseenter="mouseEnter('ConsecratedSharpeningStone')"
          @mousemove="mouseMove"
          @mouseleave="mouseLeave"
        >
          <b-checkbox
            class="is-size-7-mobile"
            native-value="ConsecratedSharpeningStone"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Consecrated Sharpening Stone</b-checkbox
          >
        </div>
      </div>

      <div class="column">
        Raid Buffs
        <div class="field" @mouseenter="mouseEnter('BlessingOfKings')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="BlessingOfKings"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Blessing of Kings</b-checkbox
          >
        </div>
        <div class="field" @mouseenter="mouseEnter('GiftOfTheWild')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="GiftOfTheWild"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Gift of the Wild</b-checkbox
          >
        </div>
        <div class="field" @mouseenter="mouseEnter('BattleShout')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="BattleShout"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Battle Shout</b-checkbox
          >
        </div>
        <div class="field" @mouseenter="mouseEnter('TrueshotAura')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="TrueshotAura"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Trueshot Aura</b-checkbox
          >
        </div>
        <div class="field" @mouseenter="mouseEnter('GraceOfAirTotem')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="GraceOfAirTotem"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Grace of Air Totem</b-checkbox
          >
        </div>
        <div
          class="field"
          @mouseenter="mouseEnter('StrengthOfEarthTotem')"
          @mousemove="mouseMove"
          @mouseleave="mouseLeave"
        >
          <b-checkbox
            class="is-size-7-mobile"
            native-value="StrengthOfEarthTotem"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Strength of Earth Totem</b-checkbox
          >
        </div>
        <div
          class="field"
          @mouseenter="mouseEnter('PrayerOfFortitude')"
          @mousemove="mouseMove"
          @mouseleave="mouseLeave"
        >
          <b-checkbox
            class="is-size-7-mobile"
            native-value="PrayerOfFortitude"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Prayer of Fortitude</b-checkbox
          >
        </div>
        <div class="field" @mouseenter="mouseEnter('DevotionAura')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="DevotionAura"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Devotion Aura</b-checkbox
          >
        </div>
        <div class="field" @mouseenter="mouseEnter('BlessingOfMight')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="BlessingOfMight"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Blessing of Might</b-checkbox
          >
        </div>
        <div class="field" @mouseenter="mouseEnter('BloodPact')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="BloodPact"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Blood Pact</b-checkbox
          >
        </div>
        Proc Buffs
        <div class="field" @mouseenter="mouseEnter('Inspiration')" @mousemove="mouseMove" @mouseleave="mouseLeave">
          <b-checkbox
            class="is-size-7-mobile"
            native-value="Inspiration"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Inspiration</b-checkbox
          >
        </div>
        <div
          class="field"
          @mouseenter="mouseEnter('ImprovedLayOnHands')"
          @mousemove="mouseMove"
          @mouseleave="mouseLeave"
        >
          <b-checkbox
            class="is-size-7-mobile"
            native-value="ImprovedLayOnHands"
            v-bind:value="options.character.buffs"
            v-on:input="options.character.buffs = enableBuff($event, options.character.buffs)"
            >Improved Lay on Hands</b-checkbox
          >
        </div>
      </div>
    </div>
    <BuffTooltip
      v-if="mousedOverBuff"
      :class="{ hidden: !showToolTip }"
      :style="toolTipStyle"
      :buffJson="mousedOverBuff"
    />
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'
import { enableBuff, getBuffJSONByName, BuffJSON } from '../wow/class/Buffs'
import BuffTooltip from './BuffTooltip.vue'

const Props = Vue.extend({
  props: {
    options: Object
  }
})

@Component({
  components: { BuffTooltip }
})
export default class Buffs extends Props {
  wow = wow
  enableBuff = enableBuff
  getBuffJSONByName = getBuffJSONByName
  mousedOverBuff: BuffJSON | null = null

  showToolTip = false
  toolTipStyle = {
    zIndex: 999,
    position: 'fixed',
    top: '0px',
    left: '0px'
  }

  mouseEnter(mousedOverBuff: string): void {
    this.showToolTip = true
    this.mousedOverBuff = getBuffJSONByName(mousedOverBuff)
  }

  mouseMove(event: any): void {
    this.toolTipStyle.left = event.clientX + 40 + 'px'
    this.toolTipStyle.top = event.clientY - 30 + 'px'
  }

  mouseLeave(event: any): void {
    this.showToolTip = false
  }
}
</script>
