<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <p class="is-size-7-mobile">Ordinary Hit Chance</p>
        <p class="is-size-7-mobile">Crushing Blow Chance</p>
        <p class="is-size-7-mobile">Critical Hit Chance</p>
        <p class="is-size-7-mobile">Miss Chance</p>
        <p class="is-size-7-mobile">Armor</p>
        <p class="is-size-7-mobile">Damage Reduction from Armor</p>
      </div>
      <div class="column">
        <p class="is-size-7-mobile has-text-right">
          {{ `${wow.Tools.PercentString(this.data.enemyAttackTable.ordinaryHit, 2)}` }}
        </p>
        <p class="is-size-7-mobile has-text-right">
          {{ `${wow.Tools.PercentString(this.data.enemyAttackTable.crushingBlow, 2)}` }}
        </p>
        <p class="is-size-7-mobile has-text-right">
          {{ `${wow.Tools.PercentString(this.data.enemyAttackTable.criticalHit, 2)}` }}
        </p>
        <p class="is-size-7-mobile has-text-right">
          {{ `${wow.Tools.PercentString(this.data.enemyAttackTable.miss + this.data.enemyAttackTable.dodge, 2)}` }}
        </p>
        <p class="is-size-7-mobile has-text-right">
          {{ `${this.data.target.armor}` }}
        </p>
        <p class="is-size-7-mobile has-text-right">
          {{ `${wow.Tools.PercentString(this.data.bossDamageReductionFromArmor, 2)}` }}
        </p>
      </div>
    </div>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'

import Simulation from '../wow/class/Simulation'

const Props = Vue.extend({
  props: {
    data: Simulation
  }
})

@Component
export default class EnemyAttributes extends Props {
  wow = wow
}
</script>
