<template>
  <div class="links">
    <div class="columns is-centered is-mobile">
      <div class="column is-narrow">
        <GearResetButton v-on:click.native="$emit('reset-gear')" />
      </div>
      <div v-if="options.showUnequip" class="column is-narrow">
        <GearUnequipButton v-on:click.native="$emit('unequip-gear')" />
      </div>
      <div v-if="options.showShare" class="column is-narrow">
        <GearShareButton v-on:click.native="$emit('share-gear')" />
      </div>
    </div>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import GearResetButton from './GearResetButton.vue'
import GearUnequipButton from './GearUnequipButton.vue'
import GearShareButton from './GearShareButton.vue'
import GearExportButton from './GearExportButton.vue'

const GearButtonBarProps = Vue.extend({
  props: {
    options: Object
  }
})

@Component({
  components: { GearExportButton, GearShareButton, GearResetButton, GearUnequipButton }
})
export default class GearButtonBar extends GearButtonBarProps {}
</script>
