<template>
  <div>
    <div class="enchantSelect">
      <b-modal size="xl" :active.sync="showEnchants" scroll="keep">
        <div class="innerEnchantSelect">
          <b-table
            @select="selectEnchant"
            :data="enchant_data"
            :columns="enchant_columns"
            :paginated="paginated"
            :small="true"
            size="xl"
            :resonsive="false"
            :pagination-simple="true"
            per-page="5"
            sort-icon="arrow-up"
            sort-icon-size="is-small"
            aria-next-label="Next page"
            aria-previous-label="Previous page"
            aria-page-label="Page"
            aria-current-label="Current page"
            default-sort="['score', 'desc']"
            hoverable
          >
            <template slot="footer">
              <GearButtonBar :options="buttonBarOptions()" @reset-gear="unlockEnchant" @unequip-gear="unequipEnchant" />
            </template>
          </b-table>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<style scoped>
.innerEnchantSelect {
  font-size: 12px;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'

import GearButtonBar from './GearButtonBar.vue'
import ItemSlot from '../wow/enum/ItemSlot'
import Equipment from '@/wow/class/Equipment'

const GearEnchantSelectProps = Vue.extend({
  props: {
    options: Object,
    itemSearch: Object,
    tpsWeights: Object,
    ehpWeights: Object
  }
})

@Component({
  components: { GearButtonBar }
})
export default class GearEnchantSelect extends GearEnchantSelectProps {
  wow = wow
  paginated = true

  buttonBarOptions() {
    return {
      showShare: false,
      showReset: this.enchantLocked(),
      showUnequip: this.enchantEquipped()
    }
  }

  enchantEquipped() {
    return wow.Locked.EnchantEquipped(this.options.character.lockedEnchants, this.options.enchantSearchSlot)
  }

  enchantLocked() {
    return wow.Locked.EnchantLocked(this.options.character.lockedEnchants, this.options.enchantSearchSlot)
  }

  unequipEnchant() {
    wow.Locked.UnequipEnchant(this.options.character.lockedEnchants, this.options.enchantSearchSlot)
    this.options.enchantSearchSlot = ItemSlot.None
  }

  unlockEnchant() {
    wow.Locked.UnlockEnchant(this.options.character.lockedEnchants, this.options.enchantSearchSlot)
    this.options.enchantSearchSlot = ItemSlot.None
  }

  selectEnchant(obj1: any, obj2: any) {
    wow.Locked.SetEnchant(this.options.character.lockedEnchants, this.options.enchantSearchSlot, obj1.customId)
    this.options.enchantSearchSlot = ItemSlot.None
  }

  get showEnchants() {
    if (this.options.enchantSearchSlot !== ItemSlot.None) {
      return true
    }
    return false
  }

  set showEnchants(slot) {
    this.options.enchantSearchSlot = ItemSlot.None
  }

  get enchant_data() {
    return Equipment.optimalEnchantsForSlot(this.options, this.itemSearch, this.tpsWeights, this.ehpWeights)
  }

  get enchant_columns() {
    return [
      {
        field: 'name',
        label: 'name',
        numeric: false,
        sortable: true,
        searchable: true
      },
      {
        field: 'armor',
        label: 'Armor',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'strength',
        label: 'Strength',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'agility',
        label: 'Agility',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'stamina',
        label: 'Stamina',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'meleeCrit',
        label: 'Crit %',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'attackPower',
        label: 'AP',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'dodge',
        label: 'Dodge %',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'defense',
        label: 'Defense',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'haste',
        label: 'Haste',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'threatScore',
        label: 'Threat Score',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'mitScore',
        label: 'Mitigation Score',
        numeric: true,
        sortable: true,
        searchable: false
      },
      {
        field: 'score',
        label: 'Score',
        numeric: true,
        sortable: true,
        searchable: false
      }
    ]
  }
}
</script>
