<template>
  <div class="content">
    <div class="columns is-mobile">
      <div class="column">
        <p class="is-size-7-mobile">Maul Uptime</p>
        <p class="is-size-7-mobile">Swipe Uptime</p>
        <p class="is-size-7-mobile">Swipes per Second</p>
        <p class="is-size-7-mobile">Rage per Second from Auto Attacks</p>
        <p class="is-size-7-mobile">Rage per Second from Swipe</p>
        <p class="is-size-7-mobile">Rage per Second from Incoming Damage</p>
      </div>
      <div class="column">
        <p class="is-size-7-mobile has-text-right">
          {{ `${wow.Tools.PercentString(this.data.averagedRageModel().maulUptime, 2)}` }}
        </p>
        <p class="is-size-7-mobile has-text-right">
          {{ `${wow.Tools.PercentString(this.data.averagedRageModel().swipeUptime, 2)}` }}
        </p>
        <p class="is-size-7-mobile has-text-right">{{ this.data.averagedRageModel().swipesPerSecond.toFixed(2) }}</p>
        <p class="is-size-7-mobile has-text-right">
          {{ this.data.averagedRageModel().ragePerSecFromAutoAttacks.toFixed(2) }}
        </p>
        <p class="is-size-7-mobile has-text-right">
          {{ this.data.averagedRageModel().ragePerSecFromSwipe.toFixed(2) }}
        </p>

        <p class="is-size-7-mobile has-text-right">
          {{ this.data.averagedRageModel().ragePerSecondFromDamageTaken.toFixed(2) }}
        </p>
      </div>
    </div>
  </div>
</template>

<style scoped></style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { default as wow } from '../wow'

import Simulation from '../wow/class/Simulation'

const Props = Vue.extend({
  props: {
    data: Simulation
  }
})

@Component
export default class RageModel extends Props {
  wow = wow
}
</script>
